

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	font-size:12px;
	font-weight:bold;
	top: 35%; 
	height:25px;
	line-height:25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 20px;
}

.owl-theme .owl-controls .owl-buttons div {
	width:35px;
	height: 35px;
	opacity:1;
	margin:0;
	padding:0;
	background-color: transparent;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 55px;
}

.recmd-title {
    font-size: 17px;
	margin: 0 0 30px;
}

.recmd-title span {
	font-size: 12px;
	margin: 0 0 0 7px;
}

.owl-wrapper-outer {
	    height: 400px;
}


.owl-theme .owl-controls .owl-buttons .owl-prev {
	background-image:url("http://rb-warren-web-apne1.s3-website-ap-northeast-1.amazonaws.com/recobell_left.png");
}


.owl-theme .owl-controls .owl-buttons .owl-next {
	background-image:url("http://rb-warren-web-apne1.s3-website-ap-northeast-1.amazonaws.com/recobell_right.png");
}