

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	font-size:12px;
	font-weight:bold;
	top: 35%; 
	height:25px;
	line-height:25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 20px;
}

.owl-theme .owl-controls .owl-buttons div {
	width:35px;
	height: 35px;
	opacity:1;
	margin:0;
	padding:0;
	background-color: transparent;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 5px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 5px;
}

.recmd-title {
    font-size: 17px;
	margin: 0 0 30px;
}

.recmd-title span {
	font-size: 12px;
	margin: 0 0 0 7px;
}

.owl-wrapper-outer {
	    height: 240px;
}


.owl-theme .owl-controls .owl-buttons .owl-prev {
	background-image:url("http://special232.makeshop.co.kr/design/monobarbie/images/recobell_left.png");
}


.owl-theme .owl-controls .owl-buttons .owl-next {
	background-image:url("http://special232.makeshop.co.kr/design/monobarbie/images/recobell_right.png");
}


#productDetail2 .prd-list { padding:0; border: 1px solid #e1e1e1; margin:20px 0 30px; } 
#productDetail2 .prd-list .relatedArea {padding:0 5px; overflow:hidden;  }
#productDetail2 .prd-list .thumb { width: 100%; height:auto; border:0; margin:0 0 8px; }
#productDetail2 .prd-list .relatedArea .prd-name {margin:0 0 3px; }
#productDetail2 .prd-list .relatedArea .prd-name a {color:#999; font-size:11px; }
#productDetail2 .prd-list .relatedArea .prd-price {color:#8a8a8a; font-weight:500; margin:0 0 3px; }
#productDetail2 .prd-list .relatedArea .prd-option select {width:100%; height:25px; line-height:25px; border:1px solid #e1e1e1; margin:0 0 3px; }
#productDetail2 .prd-list th { padding-bottom: 10px; border-bottom: 1px solid #aaa; }
#productDetail2 .prd-list td { padding: 5px 0; border-bottom: 1px solid #aaa; }
#productDetail2 .prd-list .prd-amount { position: relative; overflow:hidden; }
#productDetail2 .prd-list .prd-amount .prd-amountBox {border:1px solid #e1e1e1; overflow:hidden; display:inline-block; margin:0 0 3px; }
#productDetail2 .prd-list .prd-amount input { float:left; border:0; height:23px; line-height:23px; box-sizing:border-box; text-align:center !important; color:#000; border-left:1px solid #e1e1e1; }
#productDetail2 .prd-list .prd-amount .txt-spin,
#productDetail2 .prd-list .prd-amount .btns { float: left; }
#productDetail2 .prd-list .prd-amount .txt-spin { width: 41px; height: 13px; padding-left: 2px padding-top: 2px; border: 0; font-size: 11px; }
#productDetail2 .prd-list .prd-amount .btns { width: 23px; height: 23px;  }
#productDetail2 .prd-list .prd-amount .btns a { overflow: hidden; width: 100%; height: 23px; text-indent: -999px; background: none; font-size:0; display: inline-block; }
#productDetail2 .prd-list .prd-amount .btns a.btn-up { border-bottom: 1px solid #aaa; background: url(/design/monobarbie/PL/btn/relQtyUp.gif) no-repeat ; border-left:1px solid #e1e1e1;}
#productDetail2 .prd-list .prd-amount .btns a.btn-dw { background: url(/design/monobarbie/PL/btn/relQtyDown.gif) no-repeat ;  }

#productDetail2 .prd-list .relatedArea .prdList {
    width: 100%;
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
}