

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	font-size:12px;
	font-weight:bold;
	top: 35%; 
	height:25px;
	line-height:25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 20px;
}

img {
    width: 100%;
}

.item {
    padding: 5px;
}

.items p {
        overflow: hidden;
    height: auto;
    color: #2e2e2e;
    padding: 3px 0 5px 0;
    text-align: left;
    font-size: 12px;
    padding-right: 48px;
    line-height: 20px;
    font-weight: normal;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0px;
}

.recmd-title {
    font-size: 17px;
	margin: 0 0 30px;
}

.recmd-title span {
	font-size: 12px;
	margin: 0 0 0 7px;
}

#rb-header h3 {
    background: #2e2e2e;
    text-align: center;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0;
    margin: 16px 0 5px 0;
    border-top: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

dl { position: relative; }