

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	font-size:12px;
	font-weight:bold;
	top: 35%; 
	height:25px;
	line-height:25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 20px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0px;
}

.rb-header {
    text-align: left;
    margin-top: 30px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    background: #f3f4f6;
}