

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	font-size:12px;
	font-weight:bold;
	top: 35%; 
	height:25px;
	line-height:25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 20px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0px;
}

.rb-header-front h1 {
    width: 200px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #000;
    border: 1px solid #ebebeb;
    padding: 10px 0px 10px 0px;
    margin: 110px auto 60px auto;
    display: block;
}